<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/base :: common_header(~{::title})}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<div class="container mt-3">

    <div class="col-sm-4">

        <form th:action="@{/login}" method="post">
            <div style="color: red" th:if="${param.error}">
                Bad credentials
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="text" class="form-control" aria-label="Email" aria-describedby="basic-addon1"
                       name="username" placeholder="example@gmail.com">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Password</span>
                <input type="password" class="form-control" aria-label="Password" aria-describedby="basic-addon1"
                       name="password" placeholder="password">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="/users/registration" class="btn btn-info">Registration</a>
            </div>
        </form>
        <br>

        <div>
            <div></div>
            <a href="/oauth2/authorization/google" class="btn btn-success">Google Auth.</a>
        </div>

    </div>
</div>


<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>