<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">

    <form action="/users">

        <div class="col-sm-3">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Username</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       name="firstname" placeholder="Username" th:value="${filter.firstname}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Lastname</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       name="lastname" placeholder="Lastname" th:value="${filter.lastname}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Birthdate In</span>
                <input type="date" class="form-control" aria-label="BirthdateIn" aria-describedby="basic-addon1"
                       name="birthDateIn" th:value="${filter.birthDateIn}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon4">Birthdate Before</span>
                <input type="date" class="form-control" aria-label="BirthDateBefore" aria-describedby="basic-addon1"
                       name="birthDateBefore" th:value="${filter.birthDateBefore}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon5">Birthdate After</span>
                <input type="date" class="form-control" aria-label="BirthDateAfter" aria-describedby="basic-addon1"
                       name="birthDateAfter" th:value="${filter.birthDateAfter}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon6">Birthdate Range Start</span>
                <input type="date" class="form-control" aria-label="BirthDateRangeStart" aria-describedby="basic-addon1"
                       name="birthDateRangeStart" th:value="${filter.birthDateRangeStart}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon7">Birthdate Range End</span>
                <input type="date" class="form-control" aria-label="BirthDateRangeEnd" aria-describedby="basic-addon1"
                       name="birthDateRangeEnd" th:value="${filter.birthDateRangeEnd}">
            </div>

            <div class="form-check">
                <label><input class="form-check-input" type="checkbox" name="roles" value="ADMIN"
                           th:checked="${filter.roles}">
                </label>
                <label class="form-check-label">Admin Role</label>
            </div>

            <div>
                <label for="page">Page:
                    <input id="page" type="number" name="page" th:value="${users.metadata.page}">
                </label>
                <label for="size">Size:
                    <input id="size" type="number" name="size" th:value="${users.metadata.size}">
                </label>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info">Filter</button>
    </form>
    <br>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="user : ${users.content}">
                <tr>
                    <td th:text="${user.id}">id</td>
                    <td th:text="${user.username}">username</td>
                    <td th:text="${user.firstname}">name</td>
                    <td th:text="${user.lastname}">surname</td>
                    <td th:text="${#strings.arrayJoin(user.roles.toArray(), ', ')}">roles</td>
                    <td><a th:href="@{'/users/' + ${user.id}}" class="btn btn-dark">edit</a></td>
                    <td><a href="#" class="btn btn-danger">delete</a></td>
                </tr>
            </div>
        </table>
    </div>
</div>

<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>