<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Main</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:if="${#authentication.principal.isAdmin()}">
                        <a class="nav-link active" aria-current="page" href="/users">All Users</a>
                    </li>
                    <li class="nav-item" th:if="${#authentication.principal.isAdmin()}">
                        <a class="nav-link" href="/wallets">All Wallets</a>
                    </li>
                    <li class="nav-item" th:if="${#authentication.principal.isAdmin()}">
                        <a class="nav-link" href="/transactions">All Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wallets/my">Wallets</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/transactions/my(userId=${#authentication.principal.id})}">
                            Transactions</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/transactions/finances(userId=${#authentication.principal.id})}">
                            Finances</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/users/' + ${#authentication.principal.id}}"
                           th:text="${#authentication.principal.username}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-secondary btn-sm" >Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</div>
</body>
</html>

