<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
  <meta charset="UTF-8">
  <title>Notes</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">

  <div class="col-sm-12">

    CREATE NOTES

    <div th:if="${errors}">
      <p style="color: red" th:each="error : ${errors}"
         th:text="${error.defaultMessage}">Error message</p>
    </div>


    <div class="col-sm-3">
    <form th:action="@{/notes/my(userId=${#authentication.principal.id})}" method="get">

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon15">Title</span>
        <input type="text" class="form-control" aria-label="title" aria-describedby="basic-addon1"
               name="title" th:value="${filter.title}">
      </div>

      <div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon8">Page</span>
          <input type="number" class="form-control" aria-label="Page" aria-describedby="basic-addon1"
                 name="page" th:value="${notes.metadata.page}">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon9">Size</span>
          <input type="number" class="form-control" aria-label="size" aria-describedby="basic-addon1"
                 name="size" th:value="${notes.metadata.size}">
        </div>
      </div>


      <input type="hidden" name="userId" th:value="${filter.userId}" />
      <button type="submit" class="btn btn-info">Filter</button>

    </form><br>
    </div>


    <p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        New note
      </button>
    </p>
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px;">
        <form th:action="@{'/notes/create/' + ${#authentication.principal.id}}" method="post"
              th:object="${notes}">

          <div class="mb-3">
            <label for="text" class="form-label">Title:</label>
            <label for="title"></label><textarea class="form-control" id="title" name="title"
                                                 rows="1" ></textarea>
          </div>


          <div class="mb-3">
            <label for="text" class="form-label">Text:</label>
            <textarea class="form-control" id="text" name="text" rows="5" th:text="${text}" ></textarea>
          </div>

          <input type="hidden" name="userId" th:value="${#authentication.principal.id}">

          <button type="submit" class="btn btn-primary">Create</button>

        </form>
      </div>
    </div>

    <style>
      .card {
        margin-bottom: 20px;
      }
    </style>

    <div class="card-columns">
      <div th:each="note : ${notes.content}" class="card">
        <h5 class="card-header">
          <span th:text="${note.title}">Date</span>
          <span th:text="${note.dateAdded}">Date</span>
          <div class="btn-group" style="float: right;">

            <a class="btn btn-primary"
               th:href="@{'/notes/' + ${#authentication.principal.id} + '/update/' + ${note.id}}">Edit</a>

            <a class="btn btn-danger"
               th:href="@{'/notes/' + ${#authentication.principal.id} + '/delete/' + ${note.id}}">Delete</a>

          </div>
        </h5>
        <div class="card-body">
          <h5 class="card-title" th:text="${note.text}">Text</h5><br>
        </div>
      </div>
    </div>


  </div>

</div>
<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>

