<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
  <meta charset="UTF-8">
  <title>Finances</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">

  <div class="col-sm-4">
    FINANCES
    <br>
    <a th:href="@{'/transactions/incomeExpenseCalc'}" class="btn btn-dark">Income / Expense calculation</a>
    <br>
    <a th:href="@{'/transactions/finances'}" class="btn btn-dark">Calculation  interest rate</a>
    <br>
    <a th:href="@{'/transactions/finances'}" class="btn btn-dark">Money transfer</a>
    <br>

  </div>

</div>
<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>