<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
  <meta charset="UTF-8">
  <title>Interest Rate</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">

  <div class="col-sm-4">
    incomeInterestRate<br>

    <span th:text="'Wallet balance : ' + ${wallet.balance}">balance</span> <br>
    <span th:text="'Wallet id : ' + ${wallet.id}">balance</span><br>
    <!-- code -->

    <form action="/calculateInterestRate">

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon14">Date Start</span>
        <input type="datetime-local" class="form-control" aria-label="transactionDateStart" aria-describedby="basic-addon1"
               name="dateStart">
<!--               th:value="${filter.transactionDateStart}"-->

      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon15">Date End</span>
        <input type="datetime-local" class="form-control" aria-label="transactionDateEnd" aria-describedby="basic-addon1"
               name="dateEnd">
<!--               th:value="${filter.transactionDateEnd}">-->
      </div>


    </form>

  </div>

</div>
<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>