<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
    <meta charset="UTF-8">
    <title>My Wallets</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">

    <div class="col-sm-4">

    <span style="font-weight: bold; color: green;">
    Calculating all financial transactions for a wallet id :
        <span th:text="${param.id}"></span>
    </span><br>

        <form action="/transactions/incomeAndExpenses" method="post">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon10">Operation type : </span>
                <select class="form-control" name="operationType" th:field="*{filter.operationType}">

                    <option value="" th:selected="*{filter.operationType == null}"
                            th:field="*{filter.operationType}">All operations
                    </option>

                    <option value="INCOME" th:selected="*{filter.operationType == 'INCOME'}"
                            th:field="*{filter.operationType}">INCOME
                    </option>

                    <option value="EXPENSE" th:selected="*{filter.operationType == 'EXPENSE'}"
                            th:field="*{filter.operationType}">EXPENSE
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon14">Date Start</span>
                <input type="datetime-local" class="form-control" aria-label="transactionDateStart"
                       aria-describedby="basic-addon1"
                       name="transactionDateStart" th:value="${filter.transactionDateStart}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon15">Date End</span>
                <input type="datetime-local" class="form-control" aria-label="transactionDateEnd"
                       aria-describedby="basic-addon1"
                       name="transactionDateEnd" th:value="${filter.transactionDateEnd}">
            </div>

            <div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon8">Page</span>
                    <input type="number" class="form-control" aria-label="Page" aria-describedby="basic-addon1"
                           name="page" th:value="${transactions.metadata.page}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon9">Size</span>
                    <input type="number" class="form-control" aria-label="size" aria-describedby="basic-addon1"
                           name="size" th:value="${transactions.metadata.size}">
                </div>
            </div>

            <input type="hidden" name="id" th:value="${filter.id}"/>
            <button type="submit" class="btn btn-info">Filter</button>
        </form>
        <br>

    </div>

    <span th:if="${finance.operationType != null}"
          th:text="'Operation type : ' + ${finance.operationType}"> Operation type : </span><br>

    <span th:text="'Currency : ' + ${finance.currency}"> Currency : </span><br>

    <span th:text="'Transaction amount : ' + ${finance.transactionAmount}">Transaction amount : </span><br>

    <span th:if="${finance.dateStart != null}"
          th:text="'Date from : ' + ${finance.dateStart}"> </span><br>

    <span th:if="${finance.dateEnd != null}"
          th:text="'Date to : ' + ${finance.dateEnd}"> </span><br><br>


    <div>
        <table class="table table-striped">

            <thead>
            <tr>
                <th>Tr.id</th>
                <th>Wallet Id</th>
                <th>Wallet name</th>
                <th>Currency</th>
                <th>Prev. Balance</th>
                <th>Amount</th>
                <th>Cur. Balance</th>
                <th>Operation</th>
                <th>Tr. Date</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="tr: ${transactions.content}">
                <tr>
                    <td th:text="${tr.id}">id</td>
                    <td th:text="${tr.walletId}">walletId</td>
                    <td th:text="${tr.walletName}">walletName</td>
                    <td th:text="${tr.getCurrency()}">currency</td>
                    <td th:text="${tr.previousBalance}">previousBalance</td>
                    <td th:text="${tr.amount}">amount</td>
                    <td th:text="${tr.currentBalance}">currentBalance</td>
                    <td th:text="${tr.operationType}">operationType</td>
                    <td th:text="${tr.transactionDate}">transactionDate</td>
                </tr>
            </div>

        </table>

    </div>

</div>
<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>