<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
    <meta charset="UTF-8">
    <title>Money withdrawal</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">

    <div class="col-sm-4">

    <span style="font-weight: bold; color: green;">
      Money withdrawal - wallet id : <span th:text="${wallet.id}"></span>
    </span><br>

        <form th:action="@{/transactions/moneyWithdrawal/{walletId}/balanceUpdate(walletId=${wallet.id})}"
              method="post"
              th:object="${moneyForm}">
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="text" class="form-control" id="amount"
                       th:field="*{amount}" required>
            </div>

            <input type="hidden" name="walletId" th:value="${wallet.id}">
            <input type="hidden" name="walletName" th:value="${wallet.walletName}">
            <input type="hidden" name="currency" th:value="${wallet.currency}">
            <input type="hidden" name="previousBalance" th:value="${wallet.balance}">
            <input type="hidden" name="amount" th:value="${moneyForm.amount}">

            <button type="submit" class="btn btn-primary">Withdraw money</button>
        </form><br>

    </div>

</div>
<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>
