<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
  <meta charset="UTF-8">
  <title>Wallet</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">
  <div class="col-sm-4">

    <form th:action="@{/wallets/{walletId}/update(walletId=${wallet.id})}" method="post" th:object="${wallet}">

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Wallet name:</span>
      <input type="text" class="form-control" aria-label="walletName" aria-describedby="basic-addon1"
             name="walletName" placeholder="walletName" th:value="*{walletName}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Type : </span>
      <select class="form-control" name="walletType" th:field="*{walletType}">

        <option value="DEBIT" th:selected="*{walletType == 'DEBIT'}"
                th:field="*{walletType}">DEBIT</option>

        <option value="CREDIT" th:selected="*{walletType == 'CREDIT'}"
                th:field="*{walletType}">CREDIT</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Currency : </span>
      <select class="form-control" name="currency" th:field="*{currency}">
        <option value="USD" th:selected="*{currency == 'USD'}" th:field="*{currency}">USD</option>
        <option value="EUR" th:selected="*{currency == 'EUR'}" th:field="*{currency}">EUR</option>
        <option value="PLN" th:selected="*{currency == 'PLN'}" th:field="*{currency}">PLN</option>
        <option value="UAH" th:selected="*{currency == 'UAH'}" th:field="*{currency}">UAH</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4">Owner ID:</span>
      <input type="number" class="form-control" aria-label="ownerId" aria-describedby="basic-addon1"
             name="ownerId" placeholder="ownerId" th:value="*{currency}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon5">Balance:</span>
      <input type="number" class="form-control" aria-label="balance" aria-describedby="basic-addon1"
             name="balance" placeholder="balance" th:value="*{balance}">
    </div>

    <button type="submit" class="btn btn-success">Update</button>
  </form>

    <div class="mt-3">

      <a th:if="${wallet.walletType == 'DEBIT'}" th:href="@{'/wallets/incomeInterestRate/' + ${wallet.id}}"
         class="btn btn-dark">Calculation of income based on interest rate</a><br><br>

      <a th:if="${wallet.walletType == 'CREDIT'}" th:href="@{'/wallets/creditDebt/' + ${wallet.id}}"
         class="btn btn-dark">Calculation of credit debt</a><br><br>

      <a th:href="@{/transactions/walletTransaction(walletId=${wallet.id})}"
         class="btn btn-dark">Wallet's transactions</a><br><br>

      <a th:href="@{'/transactions/cashTransfer/'+${wallet.id}}"
         class="btn btn-dark">Cash transfer</a><br><br>

      <a th:href="@{'/transactions/addingMoney/'+${wallet.id}}"
         class="btn btn-dark">Adding money</a><br><br>

      <a th:href="@{'/transactions/moneyWithdrawal/'+${wallet.id}}"
         class="btn btn-dark">Money withdrawal</a><br><br>

    </div>




  </div>
</div>




<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>