<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
    <meta charset="UTF-8">
    <title>Wallets</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">

    <form action="/wallets">

        <div class="col-sm-4">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Wallet Name</span>
                <input type="text" class="form-control" aria-label="WalletName" aria-describedby="basic-addon1"
                       name="walletName" placeholder="Wallet Name" th:value="${filter.walletName}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Type : </span>
                <select class="form-control" name="walletType" th:field="*{filter.walletType}">

                    <option value="" th:selected="*{filter.walletType == null}"
                            th:field="*{filter.walletType}">Select type</option>

                    <option value="DEBIT" th:selected="*{filter.walletType == 'DEBIT'}"
                            th:field="*{filter.walletType}">DEBIT</option>

                    <option value="CREDIT" th:selected="*{filter.walletType == 'CREDIT'}"
                            th:field="*{filter.walletType}">CREDIT</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Currency : </span>
                <select class="form-control" name="currency" th:field="*{filter.currency}">

                    <option value="" th:selected="*{filter.currency == null}"
                            th:field="*{filter.currency}">Select currency</option>

                    <option value="USD" th:selected="*{filter.currency == 'USD'}"
                            th:field="*{filter.currency}">USD</option>

                    <option value="EUR" th:selected="*{filter.currency == 'EUR'}"
                            th:field="*{filter.currency}">EUR</option>

                    <option value="PLN" th:selected="*{filter.currency == 'PLN'}"
                            th:field="*{filter.currency}">PLN</option>

                    <option value="UAH" th:selected="*{filter.currency == 'UAH'}"
                            th:field="*{filter.currency}">UAH</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon4">Owner user ID</span>
                <input type="text" class="form-control" aria-label="ownerUserId" aria-describedby="basic-addon1"
                       name="ownerUserId" placeholder="ownerUserId" th:value="${filter.ownerUserId}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon5">Owner username</span>
                <input type="text" class="form-control" aria-label="ownerUsername" aria-describedby="basic-addon1"
                       name="ownerUsername" placeholder="ownerUsername" th:value="${filter.ownerUsername}">
            </div>

            <div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon6">Page</span>
                    <input type="number" class="form-control" aria-label="Page" aria-describedby="basic-addon1"
                           name="page"  th:value="${wallets.metadata.page}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon7">Size</span>
                    <input type="number" class="form-control" aria-label="size" aria-describedby="basic-addon1"
                           name="size" th:value="${wallets.metadata.size}">
                </div>
            </div>

        </div>
        <br>
        <button type="submit" class="btn btn-info">Filter</button>
    </form>
    <br>

    <div>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Currency</th>
                <th>Balance</th>
                <th>Owner ID</th>
                <th>Owner username</th>
                <th>Link</th>
            </tr>
            <tr th:each="wallet : ${wallets.content}">
                <td th:text="${wallet.id}">Id</td>
                <td th:text="${wallet.walletName}">Name</td>
                <td th:text="${wallet.walletType}">Type</td>
                <td th:text="${wallet.currency}">Currency</td>
                <td th:text="${wallet.balance}">Balance</td>
                <td th:text="${wallet.ownerId}">Owner ID</td>
                <td th:text="${wallet.ownerUsername}">Owner username</td>
                <td><a th:href="@{'/wallets/' + ${wallet.id}}" class="btn btn-dark">link</a></td>
            </tr>
        </table>
    </div>
</div>
<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>