<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: common_header(~{::title})}">
  <meta charset="UTF-8">
  <title>Wallet</title>
</head>

<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-3">
  <div class="col-sm-4">

  <form th:action="@{/wallets/{walletId}/update(walletId=${wallet.id})}" method="post" th:object="${wallet}">

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Wallet name:</span>
      <input type="text" class="form-control" aria-label="walletName" aria-describedby="basic-addon1"
             name="walletName" placeholder="walletName" th:value="*{walletName}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Type:</span>
      <input type="text" class="form-control" aria-label="walletName" aria-describedby="basic-addon1"
             name="walletType" placeholder="walletType" th:value="*{walletType}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Currency:</span>
      <input type="text" class="form-control" aria-label="currency" aria-describedby="basic-addon1"
             name="currency" placeholder="currency" th:value="*{currency}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4">Owner ID:</span>
      <input type="number" class="form-control" aria-label="ownerId" aria-describedby="basic-addon1"
             name="ownerId" placeholder="ownerId" th:value="*{currency}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon5">Balance:</span>
      <input type="number" class="form-control" aria-label="balance" aria-describedby="basic-addon1"
             name="balance" placeholder="balance" th:value="*{balance}">
    </div>

    <button type="submit" class="btn btn-success">Update</button>
  </form>

  </div>
</div>

<div th:insert="~{fragments/base :: common_body}"></div>
</body>
</html>